<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartGateIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SmartGateIn.Properties.Settings>
            <setting name="BaseAddress" serializeAs="String">
                <value>https://localhost:44379/</value>
            </setting>
            <setting name="StatusRoute" serializeAs="String">
                <value>api/status</value>
            </setting>
            <setting name="ScanRoute" serializeAs="String">
                <value>api/scan</value>
            </setting>
            <setting name="ScanResultTxtFilePath" serializeAs="String">
                <value>Abholschein.pdf</value>
            </setting>
            <setting name="ProcessTimeoutInSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="SapBackendCallInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProcessStepTimeoutInSeconds" serializeAs="String">
                <value>15</value>
            </setting>
        </SmartGateIn.Properties.Settings>
    </userSettings>
</configuration>